@import url('https://fonts.googleapis.com/css?family=Tajawal');

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.spe {
   
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body {
    


  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;




}

/* -------------------------------------------------------------------------------------- */
/* MES POLICES*/







/* -------------------------------------------------------------------------------------- */
/* dans un container, on a un max-with et un width 100% */

.container-1000 {
    max-width: 1000PX;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-800 {
    max-width: 800PX;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------------------------------------------------- */
/* Test de visualisation pour les nuls */

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bggreen {
    background-color: green;
}

.bgyellow {
    background-color: yellow;
}

.bgsmart {
    background-color: rgb(37, 35, 35);
}

/* -------------------------------------------------------------------------------------- */
/* les classes fonctionnelle flex*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-center {
    justify-content: center;
}

.space-end {
    justify-content: flex-end;
}



.align-center {
    align-items: center;
}

.align-end {
    align-content: flex-end;
}

.align-center2 {

    align-content: center;
}

.textCenter {
    text-align: center;
}

.text-center {
    text-align: center;
}

/* -------------------------------------------------------------------------------------- */
/* mes classe de largeur*/

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-73 {
    width: 73%;
}

.w-100 {
    width: 100%;
}

.w-98 {
    width: 98%;
}

/* -------------------------------------------------------------------------------------- */
/* mes classe de largeur*/

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-50 {
    padding: 50px;
}


/* -------------------------------------------------------------------------------------- */
/* modif de la police*/

.size-15 {
    font-size: 15px;
}

.size-20 {
    font-size: 20px;
}

/* -------------------------------------------------------------------------------------- */
/* Mes margin */

.mt-top-10{
    margin-top: 10px;
}
.mt-top-25 {
    margin-top: 25px;
}

.mt-top-50 {
    margin-top: 50px;
}

.mt-top-100 {
    margin-top: 100px;
}

.mt-top-150 {
    margin-top: 150px;
}

.mt-top-180 {
    margin-top: 180px;
}

.mt-top-200 {
    margin-top: 200px;
}

.mt-top-250 {
    margin-top: 250px;
}

.mt-bottom-25 {
    margin-bottom: 25px;
}

.mt-bottom-50 {
    margin-bottom: 50px;
}

.mt-bottom-100 {
    margin-bottom: 100px;
}

.gap-80 {
    gap: 80px;
}

/* -------------------------------------------------------------------------------------- */
/* Mes classes bouton */

.btn {
    background-color: #996830;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}

/* -------------------------------------------------------------------------------------- */
/* Ce que j'appelle les inchangés */

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.txt-white {
    color: white;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* page index */
/* hearder */

header-ac {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;


}

footer-ac {
    position: fixed;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    width: 15%;


}

/* -------------------------------------------------------------------------------------- */
/* section hero */

.section-hero {
    background-image: url(asset/HeroDeFou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* section hero remerciement*/

.section-hero-remerciement {
    background-image: url(asset/nick-fewings-3Zji01G_ptM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* section hero equipe*/

.section-hero-equipe {
    background-image: url(asset/test-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.carEquipe {
   

    border-radius: 10px;
    border: solid, black;
    box-shadow: #181C14;
}

.carEquipe2 {

    border-radius: 10px;
    
    box-shadow: #181C14;
    background-color: #996830;
    color: black;
    padding: 20px;
}


/* section hero telechargement*/


.section-hero-telechargement {
    background-image: url(asset/toa-heftiba-h0Vfoeesyjg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* section hero biblio*/

.section-hero-biblio {
    background-image: url(asset/pexels-itsghislain-13243711.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*fixer le texte du hero bibliotèque*/

.fixerEnBas {

    position: absolute;
    z-index: 0;
    bottom: -200px;
    right: 0px;


}


/* -------------------------------------------------------------------------------------- */

.imgROND {

    height: 150px;
    width: 100px;
    border-radius: 50% 50% 50% 50% / 66% 66% 34% 34%;
    border-color: black;

}


.imgRONDR {

    height: 150px;
    width: 100px;
    border-radius: 50% 50% 50% 50% / 66% 66% 34% 34%;


}

.imgRONDV {

    height: 150px;
    width: 100px;
    border-radius: 50% 50% 50% 50% / 66% 66% 34% 34%;


}

.imgRONDA {

    height: 150px;
    width: 100px;
    border-radius: 50% 50% 50% 50% / 66% 66% 34% 34%;


}





.imgROND2 {

    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-color: black;

}

.border-radiux-5 {
    border-radius: 5px;
}

.border-radiux-10 {
    border-radius: 10px;
}

.border-black {
    border-color: black;
    border: solid 0.3em
}


/* FICHES */
.navFiche {

    padding-top: 50px;
    padding-left: 200px;
}

.menuFiche {
    padding-right: 50px;
}

.btnFiche1 {
    padding: 20px;
    background-color: #9A0000;
    color: black;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}

.btnFiche2 {
    padding: 20px;
    background-color: #FFA800;
    color: black;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}

.btnFiche3 {
    padding: 20px;
    background-color: #59FF53;
    color: black;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}


.big-number {
    color: rgba(11, 11, 11, 0.434);
    font-size: 150px;
    position: absolute;
    top: -93px;
    left: 0;
}

.pColore {
    color: #FE6500;
    background-color: black;


}

.pColore2 {
    color: #FF9700;
    background-color: black;

}

.pColore3 {
    color: #53FD56;
    background-color: black;
 
}

.txt-golden {
    color: #e1a971;
}

.back-golden {
    background-color: #996830;
}

.back-darkness {
    background-color: #181C14;
}


.size-90 {
    font-size: 90px;
}

.size-70 {
    font-size: 70px;
}

.size-30 {
    font-size: 30px;
}


.backVINC {
    color: #FFA800;
}

.backADEM {
    color: #9A0000;
}

.backRAIS {
    color: #59FF53;
}

.WTF-rendre-la-dedans {
    object-fit: cover;
}

.WTF-rendre-la-dedans2 {
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-180 {
    margin-top: 180px;
}

.margin-top-25 {
    margin-top: 25px;
}


.margin-top-50 {
    margin-top: 50px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-300 {
    margin-top: 300px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-250 {
    margin-bottom: 250px;
}

.margin-right-200 {
    margin-bottom: 200px;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-50 {
    padding: 50px;
}

.gap-40 {
    gap: 40 Px;
}

.gap-12 {
    gap: 12 Px;
}

.column-gap-20 {
    column-gap: 20px;
}

.weight-bolder {
    font-weight: bolder;
}


.txtEnGras {
    font-weight: bold;
}

/* survol image équipe*/
.survol {
    width: 400px;
    height: 300px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.survol img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

.survol:hover img {
    opacity: 0.5;
    transform: scale(1.4) rotate(15deg);
}

/* survol image remerciement*/
.survol2 {
    width: 200px;
    height: 200px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.survol2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

.survol2:hover img {
    opacity: 0.5;
    transform: scale(1.2);
}


.special-bordure {
    border-radius:
        84% 57% 70% 22% / 100% 0% 100% 0%;

    background-color: #000;

}

/* caroussel */
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;

    >* {
        flex: 0 0 100%;
    }

    &:hover .group {
        animation-play-state: paused;
    }
}

.card {
    width: 100%;
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    &:nth-child(1) {
        background: #7958ff;
    }

    &:nth-child(2) {
        background: #5d34f2;
    }

    &:nth-child(3) {
        background: #4300da;
    }
}

.group {
    display: flex;
    gap: 20px;
    /* Ajoutez un padding à droite pour créer un espace entre la dernière et la première carte. */
    padding-right: 20px;
    will-change: transform;
    /* Nous devons être sympas avec le navigateur - lui indiquer ce que nous allons animer. */
    animation: scrolling 10s linear infinite;

}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* caroussel */

h1 {
    text-align: center;
    font-size: 1.7rem;
}

ul {
    width: 100%;
    height: 300px;
    padding: 10px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    columns: 1;
    text-align: center;
}

li {
    list-style-type: none;

    display: inline-block;
    height: 100%;
    width: 200px;

    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 0 10px;

    text-align: left;
}

li:nth-child(even) {
    background-color: cyan;
}

ul::column {
    scroll-snap-align: center;
}

ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
    opacity: 1;
}

ul::scroll-button(*):active {
    translate: 1px 1px;
}

ul::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

ul::scroll-button(left) {
    content: "◄";
}

ul::scroll-button(right) {
    content: "►";
}

ul {
    anchor-name: --my-carousel;
}

ul::scroll-button(*) {
    position: absolute;
    position-anchor: --my-carousel;
}

ul::scroll-button(left) {
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(top) + 13px);
}

ul::scroll-button(right) {
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(top) + 13px);
}

ul {
    scroll-marker-group: after;
}

ul::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    top: calc(anchor(bottom) - 70px);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul::column::scroll-marker {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
}

ul::column::scroll-marker:target-before {
    border: 2px solid gray;
}

ul::column::scroll-marker:target-current {
    background-color: black;
    transition: all 0.7s;
}

ul::column::scroll-marker:target-after {
    border: 2px solid red;
    background-color: red;
}

.plus {

    transform: translateY(8px);
}

.lienBibliotheque{
 
  color: blue;
  text-decoration: underline;
}

 .img-zoom {
  overflow: hidden; /* empêche l’image de dépasser */
}

.img-zoom img {
  width: 100%;
  transition: transform 0.4s ease;
}

.img-zoom:hover img {
  transform: scale(1.05);
  
}

.img-zoom img {
  transition: transform 0.4s ease, filter 0.4s ease;
}
.img-zoom {
  overflow: hidden;
  border-radius: 12px;
    border: 2px solid black;   /* bordure ici */
    
}

.img-zoom img {
  display: block;      /* évite les espaces blancs */
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
  
}

.img-zoom:hover {
  cursor: url("asset/heart-cursor.png") 16 16, pointer;
}

.team-slider {
  position: relative;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.slide h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #222;
  text-align: center;
}

/* Nouvelle ligne pour les personnes */
.people-row {
  display: flex;           /* horizontal */
  justify-content: center; /* centré dans la slide */
  gap: 20px;               /* espace entre personnes */
}

.person {
  text-align: center;
  width: 30%;           /* largeur fixe par personne */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person img {
  width: 100%;
  height: 200px;        /* hauteur uniforme */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.4s ease; }

/* Zoom au survol */
.person img:hover {
  transform: scale(1.1);
}


.person-info {
  background: #f5f5f5; /* fond clair pour contraste */
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.person-info h3 {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.person-info p {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}



.person p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

/* Flèches */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  z-index: 1;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.8);
}

.medaillon{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.cardFiche2 {

    border: solid black;
    border-radius: 10px;

}



#footer {
    height: 1px;
    width: 100%;
    background-color: black;
}