@import url('https://fonts.googleapis.com/css?family=Tajawal');

/* RESET */
*{
box-sizing: border-box;
padding: 0;
margin: 0;
}


/* -------------------------------------------------------------------------------------- */
/* MES POLICES*/







/* -------------------------------------------------------------------------------------- */
/* dans un container, on a un max-with et un width 100% */

.container-1000 {
    max-width: 1000PX;
    width : 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-800 {
    max-width: 800PX;
    width : 100%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------------------------------------------------- */
/* Test de visualisation pour les nuls */

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bggreen {
    background-color: green;
}

.bgyellow {
    background-color: yellow;
}

.bgsmart {
    background-color: rgb(37, 35, 35);
}

/* -------------------------------------------------------------------------------------- */
/* les classes fonctionnelle flex*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-center {
    justify-content: center;
}

.space-end {
    justify-content: flex-end;
}



.align-center {
    align-items: center;
}

.align-end {
align-content: flex-end;
}

.align-center2 {

align-content: center;
}

.textCenter {
    text-align: center;
}

.text-center {
    text-align: center;
}

/* -------------------------------------------------------------------------------------- */
/* mes classe de largeur*/

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-73{
    width: 73%;
}

.w-100 {
    width: 100%;
}
.w-98 {
    width: 98%;
}

/* -------------------------------------------------------------------------------------- */
/* mes classe de largeur*/

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-50 {
    padding: 50px;
}


/* -------------------------------------------------------------------------------------- */
/* modif de la police*/

.size-15 {
    font-size: 15px;
}

.size-20 {
    font-size: 20px;
}

/* -------------------------------------------------------------------------------------- */
/* Mes margin */

.mt-top-25 {
    margin-top: 25px;
}

.mt-top-50 {
    margin-top: 50px;
}

.mt-top-100 {
    margin-top: 100px;
}

.mt-top-150 {
    margin-top: 150px;
}

.mt-bottom-25 {
    margin-bottom: 25px;
}

.mt-bottom-50 {
    margin-bottom: 50px;
}

.mt-bottom-100 {
    margin-bottom: 100px;
}

.gap-80 {
    gap: 80px;
}

/* -------------------------------------------------------------------------------------- */
/* Mes classes bouton */

.btn {
    background-color: #996830;
    color: white;
    padding: 5px 15px;
}

/* -------------------------------------------------------------------------------------- */
/* Ce que j'appelle les inchangés */

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none ;
}

.txt-white {
    color : white ;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* page index */
/* hearder */

header-ac {
    position: fixed;
    z-index: 1;
    top : 0px ;
    left: 0px;
    width: 100%;
 
    
}

footer-ac {
  position: fixed;
    z-index: 1;
    bottom: 5px ;
    right :5px;
    width: 15%;
 
    
}

/* -------------------------------------------------------------------------------------- */
/* section hero */

.section-hero {
    background-image: url(asset/HeroDeFou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }
    /* -------------------------------------------------------------------------------------- */

    .imgROND {

    height: 150px;
    width: 100px;
    border-radius: 50% 50% 50% 50% / 66% 66% 34% 34%  ;
    border-color: black;

    }

        .imgROND2 {

    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-color: black;

    }

    .border-radiux-5 {
        border-radius: 5px;
    }

        .border-radiux-10 {
        border-radius: 10px;
    }

    .border-black {
        border-color: black;
        border: solid 0.3em
    }


    /* FICHES */
    .navFiche
    {

            padding-top: 250px;
            padding-left: 200px; 
    }

    .menuFiche{
        padding-right: 50px;
    }
    
    .btnFiche1{
        padding: 20px;
        background-color: #9A0000;
        color:white; 
        border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%  ;
    }
 
    .btnFiche2{
        padding: 20px;
        background-color: #FFA800;
        color:white; 
        border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%  ;
    }

        .btnFiche3{
        padding: 20px;
        background-color: #59FF53;
        color:white; 
        border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
    }


    .big-number {
    color: rgba(11, 11, 11, 0.434);
    font-size: 150px;
    position: absolute;
    top: -93px;
    left: 0;
}

 .pColore{
    color:#FE6500;
    background-color: black;
    
    
 }

  .pColore2{
    color: #FF9700;
    background-color: black;
 
 }

   .pColore3{
    color: #53FD56;
    background-color: black;
 }

.txt-golden {
    color: #e1a971;
}

.back-golden {
    background-color:#996830;
}


.size-90 {
    font-size: 90px;
}


.backVINC {
    color: #FFA800;
}

.backADEM {
    color: #9A0000;
}

.backRAIS {
    color: #59FF53;
}

.WTF-rendre-la-dedans {
    object-fit: cover;
}

.WTF-rendre-la-dedans2 {
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.margin-top-10 {
    margin-top: 10px;
}
 
.margin-top-100 {
    margin-top: 100px;
}
 
.margin-top-150 {
    margin-top: 150px;
}
 
.margin-top-180 {
    margin-top: 180px;
}
 
.margin-top-25 {
    margin-top: 25px;
}
 
 
.margin-top-50 {
    margin-top: 50px;
}
 
.margin-top-250 {
    margin-top: 250px;
}
 
.margin-top-300 {
    margin-top: 300px;
}
 
.margin-top-200 {
    margin-top: 200px;
}
 
.margin-bottom-10 {
    margin-bottom: 10px;
}
 
.margin-bottom-100 {
    margin-bottom: 100px;
}
 
.margin-bottom-25 {
    margin-bottom: 25px;
}
 
.margin-bottom-50 {
    margin-bottom: 50px;
}
 
.margin-bottom-250 {
    margin-bottom: 250px;
}
 
.margin-right-200 {
    margin-bottom: 200px;
}
 
.padding-20 {
    padding: 20px;
}
 
.padding-10 {
    padding: 10px;
}
 
.padding-50 {
    padding: 50px;
}
 
.gap-40 {
    gap: 40 Px;
}
 
.gap-12 {
    gap: 12 Px;
}
 
.column-gap-20 {
    column-gap: 20px;
}
 
.weight-bolder {
    font-weight: bolder;
}
 
 
.txtEnGras{
    font-weight: bold;
}

/* survol image équipe*/
.survol{
    width: 400px;
    height: 300px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.survol img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

.survol:hover img{
opacity: 0.5;
transform:scale(1.4) rotate(15deg);
}

/* survol image remerciement*/
.survol2{
    width: 200px;
    height: 200px;
    position: relative;
    background: #000;
    overflow: hidden;
}

.survol2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

.survol2:hover img{
opacity: 0.5;
transform:scale(1.2)  ;
}


.special-bordure {
    border-radius:
84% 57% 70% 22% / 100% 0% 100% 0% ;

background-color: #000;

}

/* caroussel */
  .carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;
        > * {
      flex: 0 0 100%;
    }

        &:hover .group {
      animation-play-state: paused;
    }
  }

  .card {
    width: 100%;
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    &:nth-child(1) {
      background: #7958ff;
    }

    &:nth-child(2) {
      background: #5d34f2;
    }

    &:nth-child(3) {
      background: #4300da;
    }
  }

   .group {
    display: flex;
    gap: 20px;
    /* Ajoutez un padding à droite pour créer un espace entre la dernière et la première carte. */
    padding-right: 20px;
        will-change: transform; /* Nous devons être sympas avec le navigateur - lui indiquer ce que nous allons animer. */
    animation: scrolling 10s linear infinite;
    
  }

    @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }